services:
  # This image will mount the volume and then simply execute chown on the parent folder for the UID/GID specified.
  chown:
    image: "alpine"
    entrypoint: ["/bin/ash", "-c"]
    command:
      - |
        chown -R ${UID}:${GID} /usr/src/paperless/consume ; \
        chown -R ${UID}:${GID} /usr/src/paperless/media/documents/originals ; \
        chown -R ${UID}:${GID} /usr/src/paperless/media/documents/archive ; \
        chmod -R 777 /usr/src/paperless/consume ; \
        chmod -R 777 /usr/src/paperless/media/documents/originals ; \
        chmod -R 777 /usr/src/paperless/media/documents/archive
    volumes:
      - "paperless-ngx.consume:/usr/src/paperless/consume"
      - "paperless-ngx.originals:/usr/src/paperless/media/documents/originals"
      - "paperless-ngx.archive:/usr/src/paperless/media/documents/archive"

  postgres:
    image: "11notes/postgres:16"
    read_only: true
    environment:
      TZ: "Europe/Berlin"
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # make a full and compressed database backup each day at 03:00
      POSTGRES_BACKUP_SCHEDULE: "0 3 * * *"
    volumes:
      - "postgres.etc:/postgres/etc"
      - "postgres.var:/postgres/var"
      - "postgres.backup:/postgres/backup"
    tmpfs:
      # needed for read-only
      - "/postgres/run:uid=1000,gid=1000"
      - "/postgres/log:uid=1000,gid=1000"
    networks:
      backend:
    restart: "always"

  redis:
    image: "11notes/redis:7.4.7"
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      TZ: Europe/Berlin
    volumes:
      - "redis.etc:/redis/etc"
      - "redis.var:/redis/var"
    networks:
      backend:
    restart: always

  paperless-ngx:
    depends_on:
      postgres:
        condition: "service_healthy"
        restart: true
      redis:
        condition: "service_healthy"
        restart: true
      chown:
        condition: service_completed_successfully
    image: "11notes/paperless-ngx:2.20.3"
    environment:
      TZ: "Europe/Berlin"
      PAPERLESS_REDIS: "redis://:${REDIS_PASSWORD}@redis:6379"
      PAPERLESS_DBPASS: ${POSTGRES_PASSWORD}
      PAPERLESS_CONSUMER_POLLING: "60"
      PAPERLESS_CONSUMER_POLLING_DELAY: "30"
      PAPERLESS_CONSUMER_POLLING_RETRY_COUNT: "3"
      PAPERLESS_OCR_SKIP_ARCHIVE_FILE: "never"
      PAPERLESS_CONSUMER_RECURSIVE: "false"
      PAPERLESS_OCR_LANGUAGES: "eng deu"
      PAPERLESS_OCR_LANGUAGE: "deu"
      PAPERLESS_SECRET_KEY: ${PAPERLESS_NGX_SECRET_KEY}
      PAPERLESS_TIME_ZONE: "Europe/Berlin"
      PAPERLESS_FILENAME_FORMAT: "{{ created_year }}/{{ title }}-{{ tag_list }}"
      PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: "True"
      PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: ${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
      PAPERLESS_URL: "https://paperless.darksaber.fyi"
    volumes:
      - "paperless-ngx.consume:/usr/src/paperless/consume"
      - "paperless-ngx.originals:/usr/src/paperless/media/documents/originals"
      - "paperless-ngx.archive:/usr/src/paperless/media/documents/archive"
      - "paperless-ngx.data:/usr/src/paperless/data"
      - "paperless-ngx.export:/usr/src/paperless/export"
      - "paperless-ngx.thumbnails:/usr/src/paperless/media/documents/thumbnails"
    networks:
      proxy:
      backend:
    ports:
      - "3000:8000/tcp"
    restart: "always"
    labels:
      # Traefik
      - "traefik.enable=true"
      - "kop.bind.ip=srv-unraid.local.darksaber.fyi"
      - "traefik.http.services.paperless.loadbalancer.server.port=3000"
      - "traefik.http.routers.paperless.rule=Host(`paperless.darksaber.fyi`)"
      - "traefik.http.routers.paperless.entrypoints=https"
      - "traefik.http.routers.paperless.tls=true"
      - "traefik.docker.network=proxy"

volumes:
  postgres.etc:
  postgres.var:
  postgres.backup:
  redis.etc:
  redis.var:
  paperless-ngx.consume:
    driver_opts:
      type: none
      o: bind
      device: /mnt/user/data-ssd/paperless/consume
  paperless-ngx.originals:
    driver_opts:
      type: none
      o: bind
      device: /mnt/user/data-ssd/paperless/originals
  paperless-ngx.archive:
    driver_opts:
      type: none
      o: bind
      device: /mnt/user/data-ssd/paperless/archive
  paperless-ngx.data:
  paperless-ngx.export:
  paperless-ngx.thumbnails:  

networks:
  proxy:
    external: true
  backend:
    internal: true