services:
  stirling-pdf:
    image: ghcr.io/stirling-tools/stirling-pdf:2.0.3
    volumes:
      - stirlingpdf.trainingData:/usr/share/tessdata
      - stirlingpdf.extraConfigs:/configs
      - stirlingpdf.customFiles:/customFiles/
      - stirlingpdf.logs:/logs/
      - stirlingpdf.pipeline:/pipeline/
    networks:
      - proxy
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - LANGS=de_DE
      - SYSTEM_DEFAULTLOCALE=de-DE
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.stirling-pdf.loadbalancer.server.port=8080"
      - "traefik.http.routers.stirling-pdf.rule=Host(`pdf.darksaber.fyi`)"
      - "traefik.http.routers.stirling-pdf.entrypoints=https"
      - "traefik.http.routers.stirling-pdf.tls=true"
      - "traefik.http.routers.stirling-pdf.middlewares=default-acl@docker"
      - "traefik.docker.network=proxy"
    restart: unless-stopped

networks:
  proxy:
    external: true

volumes:
  stirlingpdf.trainingData:
  stirlingpdf.extraConfigs:
  stirlingpdf.customFiles:
  stirlingpdf.logs:
  stirlingpdf.pipeline: