all:
  hosts:
    srv-management:
      ansible_host: srv-management.local.darksaber.fyi
    srv-dns-01:
      ansible_host: srv-dns-01.local.darksaber.fyi
    srv-dns-02:
      ansible_host: srv-dns-02.local.darksaber.fyi
    srv-dns-03:
      ansible_host: srv-dns-03.local.darksaber.fyi

  children:
    komodo:
      vars:
        enable_server_management: true
        komodo_core_url: "https://komodo.darksaber.fyi"
        generate_server_passkey: true
      children:
        core:
          hosts:
            srv-management:
              server_name: "srv-management"
              server_address: https://host.docker.internal:8120
              komodo_bind_ip: "{{ ansible_docker0.ipv4.address}}"
              komodo_root_dir: "{{ komodo_home }}/.komodo"
              komodo_repo_dir: "{{ komodo_root_dir }}/repos"
              komodo_stack_dir: "{{ komodo_root_dir }}/stacks"
              komodo_build_dir: "{{ komodo_root_dir }}/build"
        periphery:
          hosts:
            srv-dns-02:
              server_name: "{{ inventory_hostname }}"
              server_address: "https://{{ ansible_host }}:8120"
              komodo_bind_ip: "{{ hostvars[inventory_hostname].ansible_default_ipv4.address | default(ansible_host) }}"
              komodo_root_dir: "{{ komodo_home }}/.komodo"
              komodo_repo_dir: "{{ komodo_root_dir }}/repos"
              komodo_stack_dir: "{{ komodo_root_dir }}/stacks"
              komodo_build_dir: "{{ komodo_root_dir }}/build"
            srv-dns-01:
              server_name: "{{ inventory_hostname }}"
              server_address: "https://{{ ansible_host }}:8120"
              komodo_bind_ip: "{{ hostvars[inventory_hostname].ansible_default_ipv4.address | default(ansible_host) }}"
              komodo_root_dir: "{{ komodo_home }}/.komodo"
              komodo_repo_dir: "{{ komodo_root_dir }}/repos"
              komodo_stack_dir: "{{ komodo_root_dir }}/stacks"
              komodo_build_dir: "{{ komodo_root_dir }}/build"
            srv-dns-03:
              server_name: "{{ inventory_hostname }}"
              server_address: "https://{{ ansible_host }}:8120"
              komodo_bind_ip: "{{ hostvars[inventory_hostname].ansible_default_ipv4.address | default(ansible_host) }}"
              komodo_root_dir: "{{ komodo_home }}/.komodo"
              komodo_repo_dir: "{{ komodo_root_dir }}/repos"
              komodo_stack_dir: "{{ komodo_root_dir }}/stacks"
              komodo_build_dir: "{{ komodo_root_dir }}/build"