services:
  backrest:
    image: garethgeorge/backrest:v1.10.1
    volumes:
      - backrest.data:/data
      - backrest.config:/config
      - backrest.cache:/cache
      - backrest.tmp:/tmp
      - /mnt/user/data:/userdata
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Europe/Berlin
    networks:
      - proxy
    ports:
      - "9898:9898"
    restart: always
    labels:
      # Traefik
      - "traefik.enable=true"
      - "kop.bind.ip=srv-unraid.local.darksaber.fyi"
      - "traefik.http.services.backrest.loadbalancer.server.port=9898"
      - "traefik.http.routers.backrest.rule=Host(`backrest.darksaber.fyi`)"
      - "traefik.http.routers.backrest.entrypoints=https"
      - "traefik.http.routers.backrest.tls=true"
      - "traefik.http.routers.backrest.middlewares=default-acl@docker,pocket-id@docker"
      - "traefik.docker.network=proxy"

networks:
  proxy:
    external: true

volumes:
  backrest.data:
  backrest.config:
  backrest.cache:
  backrest.tmp: