services:
  booklore:
    image: ghcr.io/booklore-app/booklore:v1.13.2
    container_name: booklore
    environment:
      - PUID=1000
      - PGID=100
      - TZ=Europe/Berlin
      - DATABASE_URL=jdbc:mariadb://mariadb:3306/mariadb
      - DATABASE_USERNAME=mariadb
      - DATABASE_PASSWORD=${DB_PW}
      - BOOKLORE_PORT=6060
      - SWAGGER_ENABLED=false
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - booklore.appdata:/app/data
      - /mnt/user/data-ssd/media/booklore:/books
      - /mnt/user/data-ssd/usenet/complete/books:/bookdrop
    networks:
      - backend
      - proxy
    ports:
      - 6060:6060
    restart: always
    labels:
      # Traefik
      - "traefik.enable=true"
      - "kop.bind.ip=srv-unraid.local.darksaber.fyi"
      - "traefik.http.services.booklore.loadbalancer.server.port=6060"
      - "traefik.http.routers.booklore.rule=Host(`booklore.darksaber.fyi`)"
      - "traefik.http.routers.booklore.entrypoints=https"
      - "traefik.http.routers.booklore.tls=true"
      - "traefik.docker.network=proxy"
      # Glance
      - "glance.name=Booklore"
      - "glance.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/svg/booklore.svg"
      - "glance.url=https://booklore.darksaber.fyi"
      - "glance.same-tab=true"
      - "glance.category=player"

  mariadb:
    image: 11notes/mariadb:11.4.5
    read_only: true
    container_name: mariadb
    environment:
      - TZ=Europe/Berlin
      - MARIADB_PASSWORD=${DB_PW}
    volumes:
      - "db.etc:/mariadb/etc"
      - "db.var:/mariadb/var"
      - "db.backup:/mariadb/backup"
      - "db.cmd:/run/cmd"
    networks:
      - backend
    tmpfs:
      - "/run/mariadb:uid=1000,gid=100"
    restart: always

networks:
  proxy:
    external: true
  backend:
    internal: true

volumes:
  db.etc:
  db.var:
  db.backup:
  db.cmd:
  booklore.appdata:
