---
services:
  jellyseerr:
    image: fallenbagel/jellyseerr:2.7.3
    container_name: jellyseerr
    networks:
      - proxy
    ports:
      - 5055:5055
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Berlin
    volumes:
      - jellyseerr.config:/app/config
    labels:
      # Traefik
      - "traefik.enable=true"
      - "kop.bind.ip=srv-unraid.local.darksaber.fyi"
      - "traefik.http.services.jellyseerr.loadbalancer.server.port=5055"
      - "traefik.http.routers.jellyseerr.rule=Host(`anfragen.darksaber.fyi`)"
      - "traefik.http.routers.jellyseerr.entrypoints=https"
      - "traefik.http.routers.jellyseerr.tls=true"
      - "traefik.docker.network=proxy"
    restart: always

networks:
  proxy:
    external: true

volumes:
  jellyseerr.config: